WORKSPACE_ID=project-A
WORKSPACE_NAME=Project A

GIT_AUTHOR_NAME=
GIT_AUTHOR_EMAIL=

GITHUB_ACCOUNT=
SSH_KEY_PATH=~/.ssh/your_key_name

DEFAULT_BASE_BRANCH=main
SKIP_STAGING=false

PROJECT_A_API_LOCAL_PATH=
PROJECT_A_WEB_LOCAL_PATH=
PROJECT_A_DATA_LOCAL_PATH=
